/* First color  #dd0211; */
/* hover color  #8a0000; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 42px;
  line-height: 1.4;
}
h3 {
  font-weight: 400;
  font-size: 24px;
}
p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #454545;
}
.text_white {
  color: #ffffff;
}
.text_center {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
}
svg,
img {
  vertical-align: middle;
  object-fit: cover;
}
.custom_btn {
  display: inline-block;
  padding: 8px 25px;
  border-radius: 0px 0px 0px 0px;
  color: #fff;
  background: #dd0211;
  overflow: hidden;
  position: relative;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  text-transform: capitalize;
  z-index: 1;
  cursor: pointer;
}
.custom_btn:hover {
  background-color: #a8000b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

/*------------------ Media Query -------------------*/
/*Extra large devices (large desktops, 1200px and up)*/
.container {
  padding: 0 15px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 991.98px) {
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {
}
